.formDiv{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  font-weight: bold;
}
.confetti{
  position: absolute;
  left: 50%;
  top: 50%;
}
#result{
  font-size: 50px;
  font-weight: bold;
}