body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formDiv{
}
.title{
  font-size: 40px;
}
.confetti{
  position: absolute;
  left: 50%;
  top: 50%;
}
#result{
  font-size: 50px;
  font-weight: bold;
}